$bootstrap-green: #28a745;
$bootstrap-red: #dc3545;
$bootstrap-gray: #6c757d;
$bootstrap-blue: #007bff;
$bootstrap-lightblue: #17a2b8;
$bootstrap-yellow: #ffc107;

$light-green: #20c997;
$light-gray: #D3D3D3;
$orange: #fd7e14;
$dark-red: #800000;
