.sprint-list,
.story-list {
  .priu-icon {
    width: 20px;
    height: 20px;
    fill: $bootstrap-green;
    margin-top: 3px;
  }

  .list-group-item {
    display: flex;
    height: 56px;
    align-items: center;
    justify-content: space-between;
  }
}

.leaderboard-title {
  display: flex;
  align-items: center;

  .priu-icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
}

.main-leaderboard {
  .ranking-0 {
    background-color: $bootstrap-yellow;
  }

  .ranking-1 {
    background-color: $light-gray;
  }

  .ranking-2 {
    background-color: #8C7853;
  }

  .priu-icon {
    width: 50px;
    height: 50px;
    fill: white;
    margin-right: auto;
    margin-left: auto;
  }

  .list-group-item {
    text-align: center;
    .user-name {
      font-weight: bold;
      color: white;
    }
  }
}