.already-vote-alert {
  padding-top: 5px;
  padding-bottom: 5px;
}

.story-button-options {
	display: flex;
	justify-content: space-between;

	.btn {
		width: 32%;
	}
}

.modals-container {
    text-align: center;

    #detailsModal,
    #acceptanceModal {
        text-align: left;
    }
}

#wireframesModal {
    .modal-dialog {
        max-width: 100%;
        width: auto !important;
        display: inline-block;
    }

    .wireframe-list {
        display: flex;
        padding-right: 25px;

        .wireframe-img {
            height: 500px;
            border: 1px solid black;
            margin-left: 10px;
        }
    }
}
