@import 'colors';
@import 'header';
@import 'story';
@import 'login';
@import 'dashboard';

@import 'components/user-info';
@import 'components/user-ranking';
@import 'components/priu-icon';
@import 'components/story-criteria';
@import 'components/story-comments';
@import 'components/stories-boxes';
@import 'components/stories-progress';
@import 'components/notification-alert';

.icon-button {
	display: flex;
	align-items: center;

  &.btn-sm {
    .priu-icon {
      width: 15px;
      height: 15px;
      margin-right: 3px;
    }
  }

	.priu-icon {
		width: 30px;
		height: 30px;
		fill: white;
		margin-right: 5px;
	}
}

.badge {
  color: white;

  &.role-PO {
    background-color: $bootstrap-lightblue;
  }

  &.role-DEV {
    background-color: $orange;
  }
}
