/* LOGO */
.navbar-brand {
	display: flex;
	align-items: center;
	font-weight: bold;
	font-size: 2rem;
}

.navbar-brand .priu-icon {
	width: 50px;
	height: 50px;
	margin-right: 5px;
}

/* STORY */
.story-button-options {
	display: flex;
	justify-content: space-between;
}

.story-button-options .btn {
	width: 32%;
}

/* USER-INFO */

.user-info {
	display: flex;
	align-items: center;
}
.user-info .priu-icon {
	width: 30px;
	height: 30px;
}

/* USER-RANKING */

.user-ranking .card-body {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* PRIU-ICON */
.priu-icon{
	width: 60px;
	height: 60px;
}

.priu-icon svg.user-like {
	fill: #28a745;
}

.priu-icon svg.user-dislike {
	fill: #dc3545;
}

.slider.slider-horizontal {
	width: 90%;
}

/* STORY-CRITERIA */

.story-criteria .criteria-icon {
	display: flex;
	align-items: center;
}

/* STORY-COMMENTS */
.story-comments .card {
	height: 408px;
	overflow: scroll;
}

.comments-title {
	display: flex;
	align-items: center;
}
.comments-title .priu-icon {
	width: 30px;
	height: 30px;
}

.icon-button {
	display: flex;
	align-items: center;
}

.icon-button .priu-icon {
	width: 30px;
	height: 30px;
	fill: white;
	margin-right: 5px;
}