<div class="alert alert-success fade notification {{alertClass}}" role="alert">
  <strong>{{title}}</strong> {{text}}
  <button type="button" class="close" aria-label="Close" {{action "hideAlert"}}>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
