.story-comments {
	.card {
		height: 408px;
		overflow: scroll;
	}

	.comments-title {
		display: flex;
		align-items: center;

		.priu-icon {
			width: 30px;
			height: 30px;
		}
	}

	.story-comment {
		align-items: top;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid rgba(0,0,0,.125);

		.priu-icon {
			width: 30px;
			height: 30px;
			margin-right: 10px;
		}

		.user-name {
			display: flex;
			font-weight: bold;
			align-items: center;

			.badge {
				margin-left: 5px;
				color: white;
			}

			.role-PO {
				background-color: $bootstrap-red;
			}

			.role-DEV {
				background-color: $bootstrap-green;
			}
		}

		small {
			color: $bootstrap-gray;
		}
	}
}