.stories-progress {
    .st-progress {
        position: relative;
        border: 1px solid;
        border-radius: 10px;
        font-weight: bold;
        padding: 3px;

        &.low {
            border-color: $bootstrap-red;
            color: $bootstrap-red;
        }

        &.middle {
            border-color: $orange;
            color: $orange;
        }

        &.high {
            border-color: $bootstrap-green;
            color: $bootstrap-green;
        }

        &.completed {
            border-color: $bootstrap-green;
            background-color: $bootstrap-green;
            color: white;
        }
    }
}