.stories-boxes {
	.story-container {
		padding-bottom: 15px;
		list-style: none;
		flex-flow: row wrap;
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.story-p {
		color: black;
		text-align: center;
		font-size: 12px;
		font-weight: bold;
		padding-top: 1px;

		margin-left: 4px;
		margin-bottom: 4px;

		width: 25px;
		height: 25px;
		border: 3px solid black;
		border-radius: 5px;

		&.voted {
			background-color: $bootstrap-green;
			color: white;

			&.active {
				color: white;
			}
		}

		&.active {
			border-color: $bootstrap-blue;
			color: $bootstrap-blue;
		}

		&:hover {
			text-decoration: none;
			background-color: $bootstrap-blue;
			color: white;
			border-color: $bootstrap-blue;
		}
	}
}
