.story-comments {
	font-size: 0.8rem;

	.card {
		height: 448px;
		overflow: scroll;
	}

	.story-comment {
		align-items: top;
		margin-bottom: 10px;
		padding-bottom: 10px;

		.user-photo-container {
	    width: 30px;
	    height: 30px;
	    border-radius: 30px;
	    overflow: hidden;
	    margin-right: 3px;

	    .user-photo {
	      width: 30px;
	    }
	  }

		.content-container {
			margin-top: 5px;
			margin-left: -10px;
		}

		.priu-icon {
			width: 30px;
			height: 30px;
			margin-right: 10px;
		}

		.opinion-buttons {
			display: flex;
			justify-content: flex-end;

			.no-action {
				cursor: initial;
			}

			.loading {
				cursor: progress;
			}

			.bt-like {
				padding: 3px;
				margin-right: 5px;

				.priu-icon {
					fill: $bootstrap-green;
				}

				&.active,
				&:hover {

					&.no-action {
						background-color: white;
						color: $bootstrap-green;

						.priu-icon {
							fill: $bootstrap-green;
						}
					}

					.priu-icon {
						fill: white;
					}
				}
			}

			.bt-dislike {
				padding: 3px;

				.priu-icon {
					fill: $bootstrap-red;
				}

				&.active,
				&:hover {
					&.no-action {
						background-color: white;
						color: $bootstrap-red;

						.priu-icon {
							fill: $bootstrap-red;
						}
					}

					.priu-icon {
						fill: white;
					}
				}
			}
		}

		.user-name {
			display: flex;
			font-weight: bold;
			align-items: center;

			.badge {
				margin-left: 5px;
			}
		}

		small {
			color: $bootstrap-gray;
		}
	}
}
