.user-info {
	display: flex;
	align-items: center;

  .user-name {
    margin-right: 10px;
  }

  .bt-signout {
    &:hover {
      background-color: $bootstrap-blue;
    }

    a {
      color: white;

      &:hover {
        text-decoration: none;
      }
    }
  }

	.priu-icon {
		width: 30px;
		height: 30px;
	}
}
