<h5>Comentários</h5>
<div class="card">
  <div class="card-body">
    {{#if comments}}
      <ul>
      {{#each comments as |cm|}}
        <li>
          {{cm.content}}<br />
          {{cm.dateTime}}<br />
          <small>{{moment-from-now cm.dateTime}}</small>
        </li>
      {{/each}}
      </ul>
    {{else}}
      Seja o primeiro a comentar e ganhe pontos!
    {{/if}}
  </div>
</div>
<textarea class="form-control mt-2" rows="3" placeholder="Digite aqui seu comentário"></textarea>