<h5 class="section-title">{{priu-icon name="comments"}} Comentários</h5>
<div class="card">
  <div class="card-body p-2">
    {{#if comments}}
      {{#each comments as |cm index|}}
        {{story-comment
          isGamified=isGamified
          comment=cm
          classNames=(if (not-eq index commentsLastIndex) 'border-bottom')
          addCommentLike=(action addCommentLike)
          addCommentDislike=(action addCommentDislike)}}
      {{/each}}
    {{else}}
      {{#if isGamified}}Seja o primeiro a comentar e ganhe pontos!{{else}}Sem comentários ainda...{{/if}}
    {{/if}}
  </div>
</div>
<textarea class="form-control mt-2" rows="3" placeholder="Digite aqui seu comentário"></textarea>