<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
    {{priu-icon name="logo"}} PRIU
  	</a>

    <div class="navbar-collapse">
      {{#if userSession.isAuthenticated}}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            {{#link-to "index" class="nav-link"}}Visão Geral{{/link-to}}
          </li>
          <li class="nav-item">
            {{#link-to "story" "1" class="nav-link"}}Estória{{/link-to}}
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#">Instruções</a>
          </li>
        </ul>
      {{/if}}

      <div class="my-2 my-lg-0">
        {{#if userSession.isAuthenticated}}
          {{user-info user=model.user}}
          <small><a href="#" {{action "signOut"}}>Sair</a></small>
        {{/if}}
      </div>
    </div>
  </div>
</nav>

<div class="container pt-2">
	{{outlet}}
</div>